@CHARSET "UTF-8";

*{font-family: 'Handlee', cursive;}

a{
	border-radius:0.5em;
	background:#ff8080;
	color:white;
	padding:0.5em;
	text-decoration: none;
	text-align:center;
	display:block;
}

body,html{height:100%;margin:0;}

nav.subnav >li > a{display:inline;}


.landingnav{
	display:none;
}

.mobilenav > li.stack > a {
	display:inline-block;
	width:30%;
}



li.stack{
	display:block;
	margin-top:1.5em;
	margin-bottom:1.5em;
}

li.stack > a {width:50%;margin:auto;}


a.arrow:hover:after{
	content:"  \27BA";
	color:white;
}


body{background-image:url('../Images/bookbinding.jpg');}

button{
	padding:0.5em;
	border-radius:0.5em;
	cursor:pointer;
	border:none;
}

.submit{margin-left:1em;color:white;background:#00ff00;font-size:1em;}
.submit:hover{padding:1em;}
.cancel{margin-left:1em;color:white;font-size:1em;background:#ff8080;}
.cancel:hover{padding:1em;}
.revise{background:orange;margin-left:1em;color:white;font-size:1em;}
.revise:hover{padding:1em;}

header{
	
	padding:1em;
	padding-left:2em;
	height:75px;
	text-align:center;
}

h1, h2, h3, h4, h5, h6 {color:white;}


li{
	list-style-type: none;
	display:inline;
}


small {color:#ff8080;}

/*CSS for form*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(211,211,211,0.9);
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}

label{
    display: inline-block;
    width:100%;
    text-align: left;
    float:left;
}
input, textarea {
  display: inline-block;
  float: left;
  width:100%;
  border-radius:0.3em;
}




input:focus, textarea:focus {
    outline: none !important;
    border:1px solid rgba(255, 128, 128, 0.6);
}

textarea{height:150px;}

form {color:white;margin-bottom:0;}

form > p {
	display:flex;
}


/*CSS for tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    left:-7px;
    position: absolute;
    z-index: 1;
   
}

.right{float:right;padding-right:0.3em;}
.tooltip:hover .tooltiptext {visibility: hidden;}

/*CSS styles for errors */
.err{
	color:orange;
	padding-left:1em;
}


.main{
	background-color: rgba(0,0,0,0.65);
	width:100%;
	color:white;
	min-height:100%;
	margin-bottom:0;
	padding-bottom:1em;		
}

.glowhome{
	
	background:rgba(0,0,0,0);
	width:20%;
	float:left;
	padding-top:1.0em;
}



.half {
	
	padding:5%;
	text-align:center;
	
}

.halfleft{
	text-align:left;
	padding:1.5em;
}

.mediimg{width:70%;}

.padtop1{padding-top:1em;}

#success {
	 
  display:none;
  z-index:5;
    background:rgba(0,0,0,0.4);
    		margin: auto;
  position: absolute;
 
  top: 0; left: 0; bottom: 0; right: 0;
}

#success > div{
	
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#success > div > form > button:hover{
	font-size:1.5em;
}



#user{
	background:rgba(0,0,0,0.4);
	width:100%;
	position:fixed;
	bottom:0;
	height:50px;
	text-align:center;
	background:rgba(0,0,0,0.4);
}

#cookiename{
	
	float:left;
	width:40%;
	font-size:0.8em;	
}

#cookiename:hover{
	cursor:help;
}

#pipe{
	float:left;
	width:10%;
	color:white;
	text-align:center;
}

.pb2{
	padding-bottom:2em;
}

.pb3{
	padding-bottom:3em;
}

#usertooltip{
	position:fixed;
	left:0;
	bottom:50px;
	right:0;
	display:none;
    width:100%;
    background:rgba(0,0,0,0.4);
    color: white;
    text-align: left;
    
    height:50px;
    padding-top:1em;
	
}

#usertooltip > * {
	padding-left:0.5em;
}


@media (min-width:860px){
	.half{
	width:40%;
	float:left;
	}
	.main{width:70%;margin-left:auto; margin-right:auto;}
	header{
	text-align:left;
	padding-left:1em;
	}
	.mediimg{width:100%;}
	.landingnav{margin-top:20%;}
	li.stack > a{margin:auto;}
	.tooltip:hover .tooltiptext {visibility: visible;}
label{width:15%;}
input,textarea{width:25%;}
.mobilenav{display:none;}

#user{
	background:rgba(0,0,0,0.4);
	border-radius:0 0 0.7em 0.7em;
	width:15%;
	position:fixed;
	top:0;
	left:40%;
	height:50px;
	background:rgba(0,0,0,0.4);
	
}

.glowhome{
	
	background:rgba(0,0,0,0);
	width:20%;
	float:left;
	padding-top:1.0em;
}



.landingnav{
	display:block;
}

#cookiename{
	
	float:left;
	width:40%;
	font-size:0.8em;
	
}



#pipe{
	float:left;
	width:10%;
	color:white;
	text-align:center;
}

#usertooltip{
	position:fixed;
	left:40%;
	top:50px;
	display:none;
    width:15%;
    background:rgba(0,0,0,0.4);
    color: white;
    text-align: left;
    border-radius: 0.7em;
    height:50px;
    padding-top:1em;
    border-radius:0 0 0.7em 0.7em;
   
	
}

#usertooltip > * {
	padding-left:0.5em;
}


}
/*End of lg-screen definitions */'






